.resource {
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 30%;
  float: left;
  overflow: hidden;
}

.labManual {
  border: 1px solid #0d4a7b;
  background: #f0f7fd;
}

.otherResource {
  border: 1px solid #1f7b0d;
  background-color: #f1fdf0;
}

#BannerContainer {
  background-color: #fff;
  position: relative;
  text-align: center;
  color: white;
}

#banner {
  width: 100% !important;
  min-width: 500px !important;
  display: block;
  margin: auto;
  padding: 0px 0px 20px 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link, a:visited, a:hover, a:active {
  color: #000000 !important;
}

h1 {
  font-weight: bold;
}