.resource {
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 30%;
  float: left;
  overflow: hidden;
}

.labManual, .otherResource {
  border-left: 7px solid;
}

.otherResource {
  border-color: #7A4B0E;
  background-color: #FFF2DF;
}


.year1 {
  border-color: #520E7A;
  background-color: #EFE4F5;
}

.year2 {
  border-color: #0D4A7B;
  background-color: #F0F7FD;
}

#BannerContainer {
  background-color: #fff;
  position: relative;
  text-align: center;
  color: white;
}

#banner {
  width: 100% !important;
  min-width: 500px !important;
  display: block;
  margin: auto;
  padding: 0px 0px 20px 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link, a:visited, a:hover, a:active {
  color: #000000 !important;
}

h1 {
  font-weight: bold;
}

.level2 {
  overflow: hidden;
}